button {
    border-radius: 15px;
    background-color: #b0d7ec;
    border: 1px solid black;
    transition: background-color 0.16s ease-in-out;
    height: 65px;
    width: 200px;
    font-size: 1.2em;
}

button:hover {
    background-color: var(--root-bg-hover);
}

